* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(3, 16, 31);
    color: white;
}

header {
    background-color: rgb(9, 53, 104);
    color: white;

}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: black;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button Styles */
button {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
}

/* Form Styles */
form label {
    font-weight: bold;
}

form input[type="text"] {
    /* margin-top: 5px; */
    width: 100%;
    /* padding: 5px; */
    /* margin-bottom: 20px; */
    color:black
}


h1 {
    padding: 20px;
}

h2 {
    display:flex;
    justify-content: center;
}

#h1div {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}

#weatherbox {
    display: flex;
    flex-wrap: wrap;  
    width: 100%;
    justify-content: center;
    align-content: center;
}

#city {
    border-radius: 10px;
    height: 50px;
    margin: 10px;
}

#current-forecast {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.playlist-header {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.opening-container {
    display: flex;
    justify-content: center;
}

.rainy-container,
.sunny-container, 
.cloudy-container, 
.winter-container {
    display: flex;
    justify-content: center;
}

.sunny-background {
    background-color: rgb(3, 127, 143);

}

.sunny-header {
    background-color: rgb(165, 165, 4);
}

.rainy-background {
    background-color:rgb(13, 27, 42);
}

.rainy-header {
    background-color:rgb(136, 136, 136);
}

.winter-background {
    background-color:rgb(255, 255, 255);
}

.winter-header {
    background-color:rgb(4, 210, 247);
}

.cloudy-background {
    background-color:rgb(29, 39, 50);
}

.cloudy-header {
    background-color:rgb(47, 12, 94);

}

/* Footer */

footer {
    display: flex;
    justify-content: center;
}

#notFeelingThisBtn {
    margin-bottom: 50px;
    border-radius: 10px;
    border-color: aqua;
    border-width: 2px;
    background-color: rgb(9, 53, 104);
    color: rgb(242, 242, 243);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    font-size: 15px;
}