* {
    font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(3, 16, 31);
    color: white;
}

header {
    background-color: rgb(9, 53, 104);
    color: white;

}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: black;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button Styles */
button {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
    border-radius: 10px;
}

/* Form Styles */
form label {
    font-weight: bold;
}

form input[type="text"] {
    /* margin-top: 5px; */
    width: 100%;
    /* padding: 5px; */
    /* margin-bottom: 20px; */
    color:black
}

input {
    padding-left: 15px;
}


h1 {
    padding: 20px;
    font-family: 'Pacifico', serif;
    font-size: 70px;
}

h2 {
    display:flex;
    justify-content: center;
}
 
p {
    display:flex;
justify-content: center;
}

#h1div {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}

#weatherbox {
    display: flex;
    flex-wrap: wrap;  
    width: 100%;
    justify-content: center;
    align-content: center;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

#weather {
    font-size: 18px;
    padding: 15px;
}

#weather p {
    line-height: 17px;
    margin-top: 20px;
}

#city {
    border-radius: 10px;
    height: 50px;
    margin: 10px;
}

#current-forecast {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.playlist-header {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.opening-container {
    display: flex;
    justify-content: center;
}

.opening-container h2 {
    padding: 30px 0 20px 0;
}

.rainy-container,
.sunny-container, 
.cloudy-container, 
.winter-container,
.haze-container, 
.foggy-container,
.dust-container,
.warning-container {
    display: flex;
    justify-content: center;
}



.sunny-background {
    background-color: rgb(19, 98, 154);
    color: rgb(229, 229, 97);

}

.sunny-header {
    background-color: rgb(229, 229, 97);
    color:rgb(19, 98, 154);
}

.rainy-background {
    background-color:rgb(86, 119, 153);
    color:rgb(0, 2, 28);
}

.rainy-header {
    background-color:rgb(0, 2, 28);
    color:rgb(86, 119, 153);
}

.winter-background {
    background-color:rgb(196, 234, 238);
    color: rgb(29, 45, 48);
}

.winter-header {
    background-color:rgb(29, 45, 48);
    color: rgb(196, 234, 238);
}

.cloudy-background {
    background-color:rgb(28, 33, 37);
    color: rgb(109, 108, 111);
}

.cloudy-header {

    background-color:rgb(109, 108, 111);
    color: rgb(28, 33, 37);

}

.dust-background {
    background-color:rgb(43, 35, 21);
    color: rgb(102, 95, 64);
}

.dust-header {

    background-color: rgb(102, 95, 64);
    color: rgb(43, 35, 21);

   

}

.haze-background {
    background-color:rgb(81, 12, 142);
    color: rgb(25, 10, 41);
}

.haze-header {

    background-color:rgb(25, 10, 41);
    color: rgb(81, 12, 142);

}

.foggy-background {
    background-color:rgb(28, 33, 37);
    color: rgb(65, 64, 66);
}

.foggy-header {

    background-color:rgb(65, 64, 66);
    color: rgb(28, 33, 37);

   

}

.warning-background {
    background-color:rgb(156, 13, 13);
    color: rgb(43, 19, 17);
}

.warning-header {

    background-color:rgb(192, 79, 27);

   

}

/* Footer */

footer {
    display: flex;
    justify-content: center;
}

#notFeelingThisBtn {
    margin-bottom: 50px;
    margin-top: 30px;
    border-radius: 10px;
    border-color: rgb(38, 70, 107);;
    border-width: 2px;
    background-color: rgb(9, 53, 104);
    color: rgb(242, 242, 243);
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-weight: 600;
    font-size: 16px;

}