* {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: rgb(3, 16, 31);
    color: white;
}

header {
    background-color: rgb(9, 53, 104);
    color: white;

}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: black;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
}

.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Button Styles */
button {
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

/* Form Styles */
form label {
    font-weight: bold;
}

form input[type="text"] {
    margin-top: 5px;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
    color:black
}


h1 {
    padding: 20px;
}

#h1div {
    display: flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
}

#weatherbox {
    display: flex;
    flex-wrap: wrap;  
    width: 100%;
    justify-content: center;
}

#current-forecast {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.playlist-header {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 20px;
}

.rainy-container,
.sunny-container, 
.cloudy-container, 
.winter-container {
    display: flex;
    justify-content: center;
}

.main-playlist {
    border-radius:12px;
    width: 100px;
    height: 400px;
    padding: 100px;
}

#spotify-player {
    width: 300px;
    height: 380px;
    margin: 0 auto;
}
